@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
 
/* html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
} */

html {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: #282828 rgba(255, 255, 255, 0.05);
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #282828, #282828);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #282828, #282828);
}

body { 
  font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Noto Sans', sans-serif; 
  background: linear-gradient(180deg,#071024 0%, #07192b 100%); 
  color:#e6eef8; 
}

.glass { 
  background: rgba(255,255,255,0.03); 
  backdrop-filter: blur(6px); 
  border: 1px solid rgba(255,255,255,0.04); 
}

.accent { 
  color: #fbbf24; 
}

.tab-active {
  background: linear-gradient(90deg, rgba(251,191,36,0.12), rgba(251,191,36,0.06)); 
  border-left: 3px solid rgba(251,191,36,0.9);
} 